<!DOCTYPE html>
<meta charset="utf-8">
<style>

	text {
		font-family: "ProximaNova",Helvetica,Arial,sans-serif;
		font-size: 12px;
	}

	rect {
		fill: none;
		stroke: #000;
        pointer-events: all;
	}
    rect:hover {
      fill: orangered ;
    }
    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
    tspan {
        display:block;
        width:300px;
        word-wrap:break-word;
    }
	path {
		fill: none;
		stroke-width: 2;
		stroke: #333;
	}

	path.light {
		stroke: #3c6da8;
	}

	path.dark {
		stroke: #df2929;
	}

	.intro text:first-child {
		fill: #fff;
	    stroke: #f9f9f9;
	    stroke-width: 3;
	}

	.intro text+text {
	    fill: #333;
	}

	.intro text+text.dark {
	    fill: #df2929;
	}

	.intro text+text.light {
	    fill: #3c6da8;
	}
</style>

<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.js"></script>
    <script src="static/js/d3.min.js"></script>
    <script src="static/js/d3.tip.js"></script>

	<script src="static/js/narrative.js"></script>

	<script>
        console.log('{{ name }}');
        var fileName='static/data/'+ '{{ name }}' +'.json';

        d3.json(fileName, function(err, response){
            var svg, scenes, charactersMap, width, height, sceneWidth;

            // Get the data in the format we need to feed to d3.layout.narrative().scenes
            scenes = wrangle(response);

            // Some defaults
            sceneWidth = 10;
            width = scenes.length * sceneWidth * 4;
            height = 600;
            labelSize = [150,15];

            // The container element (this is the HTML fragment);
            svg = d3.select("body").append('svg')
                .attr('id', 'narrative-chart')
                .attr('width', width)
                .attr('height', height);

            // Calculate the actual width of every character label.
            scenes.forEach(function(scene){
                scene.characters.forEach(function(character) {
                    character.width = svg.append('text')
                        .attr('opacity',0)
                        .attr('class', 'temp')
                        .text(character.name)
                            .node().getComputedTextLength()+10;
                });
            });

            // Remove all the temporary labels.
            svg.selectAll('text.temp').remove();
            var intervals = {{ intervals }};
            // Do the layout
            narrative = d3.layout.narrative()
                .scenes(scenes)
                .size([width,height])
                .pathSpace(10)
                .groupMargin(10)
                .labelSize([250,15])
                .scenePadding([5,sceneWidth/2,5,sceneWidth/2])
                .labelPosition('left')
                .layout(intervals);

            // Get the extent so we can re-size the SVG appropriately.
            svg.attr('height', narrative.extent()[1]);

            //prepare the tooltip of each scene
            var tip = d3.tip()
              .attr('class', 'd3-tip')
              .offset([-10, 0])
              .html(function(d) {
                //return "<strong>Frequency:</strong> <span style='color:red'>" + d.x + "</span>";
                  //TODO: load sentence data here, rewrite the scene data to include sentences
                  return "<tspan>" + "The Poisson distribution can also be used for the number of events in other specified intervals such as distance, area or volume.For instance, an individual keeping track of the amount of mail they receive each day may notice that they receive an average number of 4 letters per day." + "</tspan>";
              })
            tip.direction('sw')
            svg.call(tip);

            //prepare highlighting all paths through a scene


            // Draw the scenes
            svg.selectAll('.scene').data(narrative.scenes()).enter()
                .append('g').attr('class', 'scene')
                    .attr('transform', function(d){
                            var x,y;
                            x = Math.round(d.x)+0.5;
                            y = Math.round(d.y)+0.5;
                            return 'translate('+[x,y]+')';
                        })
                    .append('rect')
                        .attr('width', sceneWidth)
                        .attr('height', function(d){
                            return d.height;
                        })
                        .attr('y', 0)
                        .attr('x', 0)
                        .attr('rx', 3)
                        .attr('ry', 3)
                        .on("mousemove", function(){
                             if (window.scrollX<100) {
                                 tip.direction('se');
                             }else{
                                 tip.direction('sw');
                             }
                         })
                        .on('mouseover', tip.show)
                        .on('mouseout', tip.hide)
                        //when clicked, highlight all flows throught this scene


                        ;

            // Draw appearances
              svg.selectAll('.scene').selectAll('.appearance').data(function(d){
                return d.appearances;
            }).enter().append('circle')
                .attr('cx', function(d){
                    return d.x;
                })
                .attr('cy', function(d){
                    return d.y;
                })
                .attr('r', function(){
                    return 2;
                })
                .attr('class', function(d){
                    return 'appearance ' + d.character.affiliation;
                });

            // Draw links
            svg.selectAll('.link').data(narrative.links()).enter()
                .append('path')
                .attr('class', function(d) {
                    return 'link ' + d.character.affiliation.toLowerCase();
                })
                .attr('d', narrative.link());

            // Draw intro nodes
            svg.selectAll('.intro').data(narrative.introductions())
                .enter().call(function(s){
                    var g, text;

                    g = s.append('g').attr('class', 'intro');

                    g.append('rect')
                        .attr('y', -4)
                        .attr('x', -4)
                        .attr('width', 4)
                        .attr('height', 8);

                    text = g.append('g').attr('class','text');

                    // Apppend two actual 'text' nodes to fake an 'outside' outline.
                    text.append('text');
                    text.append('text').attr('class', 'color');

                    g.attr('transform', function(d){
                            var x,y;
                            x = Math.round(d.x);
                            y = Math.round(d.y);
                            return 'translate(' + [x,y] + ')';
                        });

                    g.selectAll('text')
                        .attr('text-anchor', 'end')
                        .attr('y', '4px')
                        .attr('x', '-8px')
                        .text(function(d){ return d.character.name; });

                    g.select('.color')
                        .attr('class', function(d){
                            return 'color ' + d.character.affiliation;
                        });

                    g.select('rect')
                        .attr('class', function(d){
                            return d.character.affiliation;
                        });

                });


            //draw chapter lines-way 3

            //get defaults
            var size = narrative.extent();//width and height of the graph
            var labelSize = narrative.labelSize();
            console.log('in html,size[1]='+size[1]+",labelSize[1]="+labelSize[1]+',size[0]='+size[0]+',labelSize[0]='+labelSize[0]);

            chapterLineHeight = 300;
            //receive from the caller function:
            chapters = [
                {'x':1, 'label':'chapter1'},
                {'x':7, 'label':'chapter2'},
                {'x':16, 'label':'chapter3'},
            ];
            //chapterOffsets = [1, 4, 16];//offsets of the chapter (ith sentence)

            //compute the x-start and scale
            var chapterStarts = [];
            var duration = 0;
            for(var i=0;i<chapters.length;i++){
                duration += chapters[i].x;
                chapterStarts.push(duration);
                //console.log('chapter offset='+chapters[i].x+',start='+chapterStarts[i]);
            }

            duration = intervals.reduce(function(a, b) { return a + b; }, 0) + 1;
            console.log('final duration='+duration);
            scale = (size[0]-labelSize[0])/duration;
            console.log('final scale='+scale);
            for(var i=0;i<chapters.length;i++){
                //console.log('inital final x='+chapters[i].x);
                //console.log('final start='+chapterStarts[i]);
                chapters[i].x = scale * chapterStarts[i] + labelSize[0];
                console.log('final x='+chapters[i].x);
            }
            //draw lines based on re-calculated x of chapter lines

            var line = {
                'x1':(function(d) { return d.x; }),
                'y1':(function(d) { return 0; }),
                'x2':(function(d) { return d.x; }),
                'y2':(function(d) { return chapterLineHeight-10; }),
                'label':(function(d) { return d.label; })
                }


            var label = svg.selectAll(".labels")
                  .data(chapters)
                  .enter();

                label.append("svg:line")
                        .attr("x1", line.x1)
                        .attr("y1", line.y1)
                        .attr("x2", line.x2)
                        .attr("y2", line.y2)
                    .style("stroke-width", 0.5)
                    .style("stroke", "grey")
                    .style("fill", "none");
                label.append("text")
                 .attr("x", line.x2)
                 .attr("y", line.y2)
                 //.attr("dy", ".35em")
                 //.attr("transform", "rotate(315)")
                 .style("text-anchor", "middle")
                 .style("fill", "grey")
                 .text(line.label);
            //draw the sentences x-axis
              sentences = [{'x':10,'y':250},{'x':20,'y':250},{'x':30,'y':250},{'x':40,'y':250},{'x':50,'y':250}];
              svg.selectAll('.sents').data(sentences).enter()
                .append('g').attr('class', 'sents')
                    .attr('transform', function(d){
                            var x,y;
                            x = Math.round(d.x)+0.5;
                            y = Math.round(d.y)+0.5;
                            return 'translate('+[x,y]+')';
                        })
                    .append('rect')
                        .attr('width', 5)
                        .attr('height', 10)
                        .attr('y', 0)
                        .attr('x', 0)
                        .attr('rx', 3)
                        .attr('ry', 3)
                    ;

        });

        function wrangle(data) {

            var charactersMap = {};

            return data.scenes.map(function(scene){
                return {characters: scene.map(function(id){
                    return characterById(id);
                }).filter(function(d) { return (d); })};
            });

            // Helper to get characters by ID from the raw data
            function characterById(id) {
                charactersMap = charactersMap || {};
                charactersMap[id] = charactersMap[id] || data.characters.find(function(character){
                    return character.id === id;
                });
                return charactersMap[id];
            }

        }

    </script>
</body>
</html>